* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: radial-gradient(78.14% 78.14% at 51.3% 50%, #AEDDFF 0%, #000C2C 100%);
    overflow: hidden;
    display: flex;
    justify-content: center;    
}

.productEffect{
    display: flex;
    align-items: center;
    justify-content: center;
}

.deckImg{
    position: absolute;
    z-index: 1;
}

.filterEffect{
    display: flex;
}
.circleSelector{
    transform: scale(0);
    display: flex;
}

#brands{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    transform: scale(1);
    
}

.item{
    padding: 10px;
    
}  



